
// Base SASS variables
@use '@sass/base/fonts';
@use '@sass/base/colors';
@use '@sass/utilities/functions' as *;


// Main container class
.MainBackground {

    // Dimensions and positioning
    width: 100%;
    height: 100%;

    // Display block
    display: block;

    // Positioning
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}