
// Main layout div styles
.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: black;
}



